<ion-view title="About" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 id="about-heading4" style="color:#000000;">Music Scheduling System</h3>
        <p>This is a music scheduling application developed using Ionic framework. Use Authentication is built using Firebase, which also enables features like forgot password, change password, forgot email included in application.

User can schedule a appointment by selecteing preferred date and room. Services are hosted on AWS. Used Mongo DB as backend. As soon as user reserves room, it is notified to admin by SMS. User can also view his booking history. Specific username and password combimation is used for admin, he can view all the room bookings.</p>
    </ion-content>
</ion-view>