<ion-view title="Account Setting" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <div class="spacer" style="width: 283px; height: 8px;"></div>
        <form class="list">
            <a ui-sref="menu.changePassword" id="accountSetting-button3" style="font-weight:;" ng-click="changePassword()" class="button button-balanced  button-block">Change Password</a>
            <div class="spacer" style="width: 283px; height: 5px;"></div>
            <a ui-sref="menu.changeEmail" id="accountSetting-button7" style="font-weight:;" ng-click="changeEmail()" class="button button-balanced  button-block">Change Email</a>
        </form>
    </ion-content>
</ion-view>