<ion-view view-title="Admin">
   
    <!--<ion-nav-back-button>-->
    <!--</ion-nav-back-button>-->
 <ion-nav-buttons side="right">
      <button class="icon ion-log-out" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
     <div class="col-md-6">
        <p class="input-group">
          <input type="text" ng-change="Adminchangedate(dt)" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
     
         <div id='Adminnobookingcount'>
             <br>
         <h2>No Bookings</h2>
         </div>
     <div id='Adminbookingcount'>
      <table class="table table-hover" align="center">
             <tr class="item">
                 <th class="column"> User </th>
                    <th class="column"> Room </th>
                    <th class="column"> Time </th>
                </tr>
            
            <tr ng-repeat="item in AdminitemList" class="item" >
                <td class="column">{{item.email}}</td>
                <td class="column">{{item.room}}</td>
                <td class="column">{{item.time}}</td>
            </tr>
            
      </table>
      <div>
     
  </ion-content>
</ion-view>
