<ion-view title="Change Password" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <form class="list">
            <label class="item item-input" name="old">
                <input type="password" placeholder="Old Password" ng-model="oldPassword"> 
            </label>
            <label class="item item-input" name="new">
                <input type="password" placeholder="New Password" ng-model="password">
            </label>
            <label class="item item-input" name="confirm">
                <input type="password" placeholder="Confirm Password">
            </label>
            <button id="changePassword-button8" ng-click="changePasswordNew(oldPassword, password)" class="button button-balanced  button-block">Change Password</button>
        </form>
    </ion-content>
</ion-view>