<ion-view title="Change Email" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="email" >
                <input type="email" placeholder="New Email" ng-model="email">
            </label>
            <label class="item item-input" name="password">
                <input type="password" placeholder="password" ng-model="password"> 
            </label>
            <button id="changeEmail-button11" class="button button-balanced  button-block" ng-click="changeEmailNew(email, password)">Change Email</button>
        </form>
    </ion-content>
</ion-view>