
<ion-view cache-view="false" view-title="Select Time Slots">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <center> 
      
        <div style="padding-top: 100px; padding-bottom:20px;">
      
          <ul id="menu">
  <li><button class="available" id="a8am" ng-click="a8am()">8:00 am</button></li>
  <li><button class="available" id="a9am" ng-click="a9am()">9:00 am</button></li>
  <li><button class="available" id="a10am" ng-click="a10am()">10:00 am</button></li>
  <li><button class="available" id="a11am" ng-click="a11am()">11:00 am</button></li>
</ul>  
<ul id="menu">
<li><button class="available" id="a12pm" ng-click="a12pm()">12:00 pm</button></li>
<li><button class="available" id="a1pm" ng-click="a1pm()">1:00 pm</button></li>
<li><button class="available" id="a2pm" ng-click="a2pm()">2:00 pm</button></li>
<li><button class="available" id="a3pm" ng-click="a3pm()">3:00 pm</button></li>
</ul>
<ul id="menu">
<li><button class="available" id="a4pm" ng-click="a4pm()">4:00 pm</button></li>
<li><button class="available" id="a5pm" ng-click="a5pm()">5:00 pm</button></li>
<li><button class="available" id="a6pm" ng-click="a6pm()">6:00 pm</button></li>
<li><button class="available" id="a7pm" ng-click="a7pm()">7:00 pm</button></li>
</ul>
      </div>
  
 
  
  <button class="button button-outline icon-right ion-chevron-right button-balanced" ng-click="done()">Pick Time Slot</button>
        </center> 
      
        </ion-content>
</ion-view>
